<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
      <a class="navbar-brand" href="#">Asesorias Tec</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/asesorias">Asesorias</a>
      <a class="nav-item nav-link" href="/solicitudes">Solicitudes</a>
      <a class="nav-item nav-link" href="/profile">Perfil</a>
      <a class="nav-item nav-link" href="#">asesorias</a>
      <a class="nav-item nav-link" href="/logout">Salir</a>
    </ul>
  </div>
   </div>
</nav>-->

  <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/links/listAsesorias">Asesorias</a></li>
        <li><a href="/solicitudes">Solicitudes</a></li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Inicio</a></li>
    <li><a href="/asesorias">Asesorias</a></li>
    <li><a href="/solicitudes">Solicitudes</a></li>
    <li><a href="/logout">Salir</a></li>
  </ul>
