<nav>
  <div class="nav-wrapper green darken-4">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
{{#if user}}
      <li><a href="/">Inicio</a></li>
      <li><a href="/links/listasesorias">Asesorias</a></li>
      <li><a href="/solicitudes">Solicitudes</a></li>
      <li><a href="/logout">Salir</a></li>
{{else}}
      <li><a href="/login">Entrar</a></li>
      <li><a href="/signup">Registrarse</a></li>
{{/if}}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {{#if user}}
  <li><a href="/">Inicio</a></li>
  <li><a href="/asesorias">Asesorias</a></li>
  <li><a href="/links/Peticion">Solicitudes</a></li>
  <li><a href="/logout">Salir</a></li>
{{else}}
  <li><a href="/login">Entrar</a></li>
  <li><a href="/signup">Registrarse</a></li>
{{/if}}
</ul>

