<nav>
    <div class="nav-wrapper purple darken-4">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Entrar</a></li>
        <li><a href="/signup">Registrarse</a></li>
      </ul>
    </div>
  </nav>