<div class="container">
	<h1>Graficas</h1>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h2>Grafica de Linea</h2>
			<hr>
			<div id="myfirstchart"></div>
		</div>
		<div class="col-md-6">
		    <h2>Grafica de Area</h2>
		    <hr>
		
			
		</div>
	</div>

</div>

