<div class="container p-4">
	<div class="row">
		{{#each carreras}}
		   <div class="col-md-3">
		   	  <div class="card text-center">
		   	  	<div  class="card-body">
		   	  		<a href="url">
		   	  			<h3 class="card-tittle text-uppercase">
		   	  				{{Nombre}}
		   	  			</h3>
		   	  		</a>
		   	  		<p>{{id_Carrera}}</p>
		   	  	</div>
		   	  </div>
		   </div>
		{{/each}}
	</div>
</div>