<div class="container white z-depth-1 ">
  <form method="POST">

  <div class="row ">
      <h2 class="center">Crear una solicitud</h2>
      <div class="divider"></div>
    <div class="col s12 m8 offset-m2">
      <div class="input-field">
        <input type="text" name="titulo" required>
        <label>Titulo de la asesoria</label>
      </div>

      <div class="input-field">
        <select type="text" name="Secciones" class="form-control" required="">
          <option selected ="" disabled="" >Seleccione una Materia</option>
          {{#each Materias}}
            <option value="{{ id_Seccion}}" >{{Nombre}}</option>
          {{/each}}
        </select>
        <label>Secci贸n</label>
      </div>
       <div class="input-field">
          <textarea id="textarea1" name="Descripci贸n" class="materialize-textarea" required></textarea>
          <label for="textarea1">Describe la asesoria</label>
        </div>
      <div class="col s12 m6">

      <div class="input-field">
        <input type="date" name="Fecha_inicio" placeholder="Hora Inicio" required>
        <label>Fecha de inicio</label>
      </div>
      <div class="input-field">
        <input type="date" name="Fecha_fin" placeholder="Hora Inicio" required>
        <label>Fecha de terminaci贸n</label>
      </div>
      </div>
      <div class="col s12 m6">
      <div class="input-field">
        <input type="time" name="Hora_inicio" placeholder="Hora Inicio" required>
        <label>Hora de inicio</label>
      </div>
      <div class="input-field">
        <input type="time" name="Hora_fin" class="form-control" placeholder="Hora Fin" required>
        <label>Hora de terminaci贸n</label>    
      </div>
      </div>
      <button class="btn green col s12 m6 offset-m3">
        Guardar
      </button>
      <br>
      <br>
    </div>
  </div>
  </form>
</div>