<div class="container white z-depth-1">
   <div class= "row">
       <div class ="col s12 m4">
           <h3 class="center">Secciones</h3>
           <form action="/links/secciones" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="Nombre" placeholder="Nombre de la Carrera" autofocus>
                </div>
                <button class="btn green col s12 offset-m3 m6">Agregar</button>
                <br>
                <br>
            </form>
        </div>
        <div class="col s12 m7 offset-m1">
            <h3 class="center">Secciones registradas</h3>
            <ul class="collection with-header">
                {{#each Secciones}}
                    <li class="collection-item"><div>{{Nombre}}<a href="{{Carrera}}" class="secondary-content"><i class="material-icons">create</i></a></div></li>                
                {{/each}}
            </ul>
        </div>
    </div>
</div>
