<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv= "X-UA-Compatible" content="ie=edge">
    <title>Asesorias Tec - {{title}}</title>
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    {{!-- jquery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

     {{!-- FONT AWESOME --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   
    {{!-- MATERIALIZE --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- ICONS --}}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
     {{!-- STYLES --}}
     <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="grey lighten-3">
      {{> navigation}}
       {{> message }}
      {{> perfil}}
      <main>
        {{{ body }}}
      </main>
      {{> footer}}
      {{> modals}}
     {{!-- SCRIPTS --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const options = {};
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
    var elemsS = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elemsS, options);
    var elemM = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elemM, options);
    var elemsSe = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elemsSe, options);
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, options);
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>
</body>
</html>