<form action="/login" method="POST">
	<div class="input-field">
	   <input type="number" id="Matricula" name="Matricula" class="form-control" autofocus>
	   <label for="Matricula">Matricula:</label>
	</div>
	<div class="input-field">
		<input type="password" name="Contrase単a" id="contrase単a" class="form-control">
		<label for="contrase単a">Contrase単a:</label>
	</div>
		<button class="btn btn-success btn-block col s12 m6 offset-m3 green">Entrar</button>
	</div>
</form>

