

<h3>Login</h3>
<form action="/login" method="POST">
	<div class="row">
		<div class="input-field">
		   <input type="text" id="Matricula" name="Matricula" placeholder="Matricula" class="form-control" autofocus>
		   <label for="Matricula">Matricula:</label>
		</div>
		<div class="input-field">
			<input type="password" name="Contraseña" id="contraseña" placeholder="Contraseña"class="form-control">
			<label for="contraseña">Contraseña:</label>
		</div>
		
       		    <button class="btn btn-success btn-block">
       			    Entrar
       		    </button>
		</div>
	</div>
</form>

