<div class="container p-4">
      <div class="row">
      	<div class="col-md-4 mx-auto">
      		<div class="card text-center">
      			<div class="card-header">
      				<h3>Perfil</h3>
      			</div>

                        <picture>
                         <img src="/image/profile.jpg">
                         </picture>

      			<div class="card-body">
                              {{#usuario}}
                              <label>{{usuario.matricula}}</label>
                              <label>{{usuario.NombredeUsuario}}</label>
                              <label>{{usuario.Correo}}</label>
      				
                              {{/usuario}}
      			</div>
      		</div>
      	</div>
      </div>
</div>